.Header {
  @include box($height: 70px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  @include make-flex();

  &--content {
    @include make-flex($dir: row, $just: space-between);
    @include box();
    max-width: 960px;

    p {
      a {
        font-family: "Neucha", cursive;
        font-size: 40px;
        margin-top: 8px;
        line-height: 100px;
      }
    }
  }
}
