// Generic
$DarkGreen: #00993e;
$DarkRed: #e74c3c;
$TextColor: #344054;
$BorderColor: #dfe3e8;
$LightBorderColor: #eaecf0;
$HoverBGColor: #f4f5f6;
$DescriptionColor: #475467;
$LightGray: #f9fafb;

// Sidebar
$Sidebar__itemHover: #f4f5f6;
$Sidebar__itemActive: #f9fafb;
$Sidebar__itemText: #344054;
$Sidebar__border: #eaecf0;
$Sidebar__Search__border: #d0d5dd;
$Sidebar__Search__text: #84878d;
